@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 700px;
  
  overflow: scroll;
  scroll-snap-type: y mandatory;
}


.app__videos::-webkit-scrollbar {
  display: none;
}

.desktop-navigation {
  display: none;
}

.nav-btn{
  background: #292929;
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  transition: ease 0.2s;
}

.nav-btn:hover{
  opacity: 60%;
}

@media (min-width: 768px) {
  .desktop-navigation {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app__videos {
    display: flex;
    align-items: center;
  }
}



